.mainpage__body_content{date: {message: {id: message.id}}}
  .mainpage__body_content__user_name
    = message.user.name
  .mainpage__body_content__date
    = message.created_at.strftime("%Y-%m-%d %H:%M:%S")
  .mainpage__body_contetn__message
    = message.text
    = image_tag message.image

