#main_page
  .user_side
    .user_side_top user_name
    .user_side_bottom group_of_user
  .group_side
    .group_side_top present_group
    .group_side_bottom
    remarks_of_user
     = render :partial => "remark"
    .form
      .remark_input
      .button