= link_to group_messages_path(group.id) do
  .chat-side__group_content
    .chat-side__group_content__name
      = group.name
    .chat-side__group_content__new-message
      - if group.messages.present?
        = group.messages.last.text
      - else
        No message yet

