.chat-side
  .chat-side__user
    .chat-side__user_content
      .chat-side__user_content__name
        = current_user.name
      = link_to new_group_path, class: "chat-side__user_content__group_edit" do
        %i.fa.fa-pencil-square-o
      = link_to edit_user_path(current_user), class: "chat-side__user_content__user_edit" do
        %i.fa.fa-cog
  .chat-side__group
    = render @groups