.mainpage__body {
  height: calc( 100vh - 15% - 90px );
  overflow-y: scroll;
  min-width: 400px;
  &_content {
    padding: 30px 0 0 40px;
    &__user_name {
      font-size: 20px;
      font-weight: 900;
      color: #d36216;
      display: inline-block;
    }
    &__date {
      color: #e8b386;
      display: inline-block;
      margin-left: 20px;
    }
    &__message {

    }
  }
}
