.chat-mainpage {
  background-color: #f4f2e9;
  height: 100vh;
  width: calc( 100vw - 300px );
  float: left;
  .mainpage__top {
    height: 15%;
    border-bottom: 1px solid #e8b386;
    position: relative;
    min-width: 400px;
    min-height: 80px;
    &__group_content {
      height: 50px;
      width: 100%;
      margin: auto 0;
      position: absolute;
      top: 0;
      bottom: 0;
      clear: both;
      &__name {
        color: #d36216;
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 1px;
        margin: 0 30px;
        display: inline-block;
      }
      a.mainpage__top__group_content__edit_button {
        color: #d36216;
        float: right;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 1px;
        border: 1px solid #e8b386;
        margin: 0 20px;
        padding: 10px;
        display: inline-block;
      }
      &__member {
        color:  #e8b386;
        font-size: 12px;
        margin: 0 30px;
        position: absolute;
        bottom: -20px;
      }
    }
  }
}
