// @import "./assets/stylesheets/_reset";
/*
 *= require font-awesome
 */

html, body {
  height: 100%;
  width: 100%;
  #chat-space {

        .chat-side {
           height: 100vh;
           width: 300px;
           float: left;
           .chat-side__user {
              height: 15vh;
              width: 100%;
              background-color: #d36216;
              position: relative;
              min-height: 80px;
              .chat-side__user_content {
                height: 50px;
                width: 100%;
                margin: auto 0;
                position: absolute;
                top: 0;
                bottom: 0;
                  .chat-side__user__name {
                     color: #f4f2e9;
                     font-weight: bold;
                     font-size: 30px;
                     letter-spacing: 3px;
                     margin: 0 20px;
                     position: relative;
                     display: inline-block;

                  }
                  a.chat-side__user__group_edit {
                     position: relative;
                     top: 0;
                     bottom: 0;
                     display: inline-block;
                     margin-left: 50px;
                     i.fa.fa-pencil-square-o {
                       color: #f4f2e9;

                     }


                  }
                  a.chat-side__user__user_edit {
                     position: relative;
                     color: #f4f2e9;
                     display: inline-block;
                     i.fa.fa-cog {
                       color: #f4f2e9;


                     }

                  }
              }
           }
           .chat-side__group {
              background-color: #e8b386;
              height: 85%;
              width: 100%;
               .chat-side__group_content {
                padding: 20px;
                   .chat-side__group__name {
                     color: #d36216;
                     font-weight: 700;
                     font-size: 20px;

                   }
                   .chat-side__group__new-message {
                    color: #f4f2e9;
                   }
               }
           }
        }
        .chat-mainpage {
            background-color: #f4f2e9;
            height: 100vh;
            width: calc( 100vw - 300px );
            float: left;
            .mainpage__top {
               height: 15%;
               border-bottom: 1px solid  #e8b386;
               position: relative;
               min-width: 400px;
               min-height: 80px;
                .mainpage__group_content {
                    height: 50px;
                    width: 100%;
                    margin: auto 0;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    clear: both;
                       .mainpage__group__name {
                        // float: left;
                        color: #d36216;
                        font-size: 30px;
                        font-weight: 700;
                        letter-spacing: 1px;
                        margin: 0 30px;
                        display: inline-block;
                      }
                       a.mainpage__group__edit_button {
                        color: #d36216;
                        float: right;
                        font-size: 20px;
                        font-weight: 700;
                        letter-spacing: 1px;
                        border: 1px solid #e8b386;
                        margin: 0 20px;
                        padding: 10px;
                        display: inline-block;
                       }
                       .mainpage__group__member {
                          color:  #e8b386;
                          font-size: 12px;
                          margin: 0 30px;
                          position: absolute;
                          bottom: -20px;
                          // position: absolute;
                          // top: 40px;
                          // bottom: 0;

                        }
                }
           }
             .mainpage__body {
              height: calc( 100vh - 15% - 90px );
              overflow-y: scroll;
               .mainpage__body_content {
                 padding: 30px 0 0 40px;
                  .mainpage__body_user_name {
                    font-size: 20px;
                    font-weight: 900;
                    color: #d36216;
                    display: inline-block;

                  }
                  .mainpage__body_date {
                    color: #e8b386;
                    display: inline-block;
                    margin-left: 20px;

                  }
                  .mainpage__body_message {

                  }

               }
            }
            .mainpage__bottom {
               height: 90px;
               width: 100%;
               background-color: #d36216;
               form.mainpage__bottom_form {
                margin: 0 40px;
                position: relative;
                  .mainpage__bottom_content {
                    position: relative;
                    // display: inline-block;
                       input.message {
                        letter-spacing: 2px;
                        height: 50px;
                        width: calc( 100% - 130px );
                        padding: 15px 10px;
                        margin: 20px 0;
                        border: none;
                        // display: inline-block;
                      }
                       label.image_file {
                        height: 50px;
                        width: 40px;
                        margin: 37px 130px 20px 0;
                        position: absolute;
                        top: 0;
                        right: 0;
                           input.image {
                             position: absolute;
                             top: 15px;
                             left: 15px;
                             display: none;
                           }
                           i.fa-image {
                              color: #e8b386;
                           }

                      }
                  }

                  input.submit {
                    color:  black;
                    font-weight: 300;
                    font-size: 20px;
                    width: 100px;
                    height: 50px;
                    text-align: center;
                    background-color: #ffd700;
                    margin: 20px 0;
                    position: absolute;
                    top: 0;
                    right: 0;
                    border: none;

                      }
               }
            }
        }
  }
}